<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Open Money</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    
    <body>
        <h1>Welcome to Open Money! :-)</h1>
    </body>
</html>